@import url(//fonts.googleapis.com/css?family=Lato:300:400);
html {
  background-color: #FDFFFC; }

body {
  margin: 0; }

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px; }

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #011627; }

.hide {
  display: none; }

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #0f3443 10%, #34e89e 100%);
  color: #FDFFFC;
  /* Animation */
  /*Shrinking for mobile*/ }
  .header .inner-header {
    height: 20vh;
    width: 100%;
    margin: 0;
    padding: 0; }
  .header .flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .header .waves {
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px; }
  .header .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }
    .header .parallax > use:nth-child(1) {
      animation-delay: -8s;
      animation-duration: 7s; }
    .header .parallax > use:nth-child(2) {
      animation-delay: -7s;
      animation-duration: 10s; }
    .header .parallax > use:nth-child(3) {
      animation-delay: -10s;
      animation-duration: 13s; }
    .header .parallax > use:nth-child(4) {
      animation-delay: -4s;
      animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }
  @media (max-width: 768px) {
    .header .waves {
      height: 40px;
      min-height: 40px; }
    .header .content {
      height: 30vh; }
    .header h1 {
      font-size: 24px; } }

.container-fluid .col {
  height: 10rem;
  border: 1px solid black; }

.container-fluid {
  display: grid;
  grid-template-columns: 1.8fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "one ." "one ." ". .";
  padding-top: 3rem;
  position: relative; }
  .container-fluid .rainbow {
    position: relative;
    grid-area: one;
    border: 1px solid black; }
    .container-fluid .rainbow canvas {
      display: flex;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%; }
    .container-fluid .rainbow #control-panel {
      background: rgba(233, 233, 233, 0.75);
      border: 1px solid #333;
      left: 20px;
      padding: 10px 15px;
      position: absolute;
      top: 20px;
      z-index: 2; }
    .container-fluid .rainbow p {
      font-size: 12px;
      margin: 0 0 5px; }
    .container-fluid .rainbow label {
      font-size: 12px;
      font-weight: bold; }
    .container-fluid .rainbow button {
      display: block;
      margin: 10px 0 5px; }
    .container-fluid .rainbow a {
      border-bottom: 1px dotted #444;
      color: black;
      font-size: 12px;
      text-decoration: none; }
  .container-fluid .rainbow,
  .container-fluid .activites,
  .container-fluid .numbers,
  .container-fluid .random {
    border: 1px solid black; }
  .container-fluid .rainbow {
    display: block;
    height: fit-content; }
    .container-fluid .rainbow canvas {
      max-width: 100%;
      height: auto; }
  .container-fluid .activites {
    height: 100%; }
    .container-fluid .activites .information {
      padding-top: 0.5rem; }
      .container-fluid .activites .information p {
        margin-bottom: 0.5rem; }
    .container-fluid .activites .options {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container-fluid .activites .options .btn {
        margin: 0; }
      .container-fluid .activites .options .dropdown {
        text-align: left;
        padding-top: 2rem;
        margin: 0 1rem; }
        .container-fluid .activites .options .dropdown .dropdown-menu {
          opacity: 0;
          visibility: hidden;
          transform-origin: top;
          animation-fill-mode: forwards;
          transform: scale(0.9, 0.7) translateY(-20px);
          display: block;
          transition: all 80ms ease;
          margin: 0; }
      .container-fluid .activites .options .open > .dropdown-menu {
        transform: scale(1, 1) translateY(0);
        opacity: 1;
        visibility: visible; }
      .container-fluid .activites .options .rangePrice {
        width: 100%;
        padding: 1rem 0; }
      .container-fluid .activites .options .form-control {
        width: 90%;
        margin: 0.5rem; }
  .container-fluid .numbers p {
    padding-top: 1rem;
    font-weight: bold; }

button {
  margin: 20px; }

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none; }

.btn-12,
.btn-10,
.btn-11,
.btn-20,
.btn-21,
.btn-22,
.btn-23 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px; }
  .btn-12 span,
  .btn-10 span,
  .btn-11 span,
  .btn-20 span,
  .btn-21 span,
  .btn-22 span,
  .btn-23 span {
    background: #0f3443;
    background: linear-gradient(0deg, #0f3443 0%, #34e89e 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn-12 span:nth-child(1),
    .btn-10 span:nth-child(1),
    .btn-11 span:nth-child(1),
    .btn-20 span:nth-child(1),
    .btn-21 span:nth-child(1),
    .btn-22 span:nth-child(1),
    .btn-23 span:nth-child(1) {
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
      -webkit-transform: rotateX(90deg);
      -moz-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: 50% 50% -20px;
      -moz-transform-origin: 50% 50% -20px;
      transform-origin: 50% 50% -20px; }
    .btn-12 span:nth-child(2),
    .btn-10 span:nth-child(2),
    .btn-11 span:nth-child(2),
    .btn-20 span:nth-child(2),
    .btn-21 span:nth-child(2),
    .btn-22 span:nth-child(2),
    .btn-23 span:nth-child(2) {
      -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transform-origin: 50% 50% -20px;
      -moz-transform-origin: 50% 50% -20px;
      transform-origin: 50% 50% -20px; }
  .btn-12:hover span:nth-child(1),
  .btn-10:hover span:nth-child(1),
  .btn-11:hover span:nth-child(1),
  .btn-20:hover span:nth-child(1),
  .btn-21:hover span:nth-child(1),
  .btn-22:hover span:nth-child(1),
  .btn-23:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  .btn-12:hover span:nth-child(2),
  .btn-10:hover span:nth-child(2),
  .btn-11:hover span:nth-child(2),
  .btn-20:hover span:nth-child(2),
  .btn-21:hover span:nth-child(2),
  .btn-22:hover span:nth-child(2),
  .btn-23:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }
